.window {
  background: #FFF;
  color: #FFFFFF;
  display: block;
  position: absolute;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  min-height: 50px;
  min-width: 20px;
}

.window-content {
  height: calc(100% - 33px);
  border-left: 3px solid rgb(8, 49, 217);
  border-right: 3px solid rgb(8, 49, 217);
  border-bottom: 3px solid rgb(8, 49, 217);
  color: #000;
  overflow: auto;
  background-image: url(../../assets/form/galaxy.jpg);
  background-size: cover;
}

.poster {
  max-height: calc(100% - 3px);
  max-width: 100%;
}

.message {
  margin: 10px 10px 10px 10px;
}

#success > .window-content {
  background: #eee;
}