.window {
  background: #FFF;
  color: #FFFFFF;
  display: block;
  position: absolute;
  border-radius: 5px 5px 0px 0px;
  overflow-x: hidden;
  resize: both;
}

.window-content {
  height: calc(100% - 33px);
  border-left: 3px solid rgb(8, 49, 217);
  border-right: 3px solid rgb(8, 49, 217);
  border-bottom: 3px solid rgb(8, 49, 217);
}