.window {
  width: 200px;
  height: 200px;
  background: #FFF;
  color: #FFFFFF;
  display: block;
  position: absolute;
  border-radius: 5px 5px 0px 0px;
  overflow-x: hidden;
  resize: both;
}

.title-bar {
  background: linear-gradient(
    rgb(0, 88, 238) 0%, 
    rgb(53, 147, 255) 4%, 
    rgb(40, 142, 255) 6%, 
    rgb(18, 125, 255) 8%, 
    rgb(3, 111, 252) 10%, 
    rgb(2, 98, 238) 14%, 
    rgb(0, 87, 229) 20%, 
    rgb(0, 84, 227) 24%, 
    rgb(0, 85, 235) 56%, 
    rgb(0, 91, 245) 66%, 
    rgb(2, 106, 254) 76%, 
    rgb(0, 98, 239) 86%, 
    rgb(0, 82, 214) 92%, 
    rgb(0, 64, 171) 94%, 
    rgb(0, 48, 146) 100%);
  height: 30px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  user-select: none;
}

.window-content {
  height: calc(100% - 33px);
  border-left: 3px solid rgb(8, 49, 217);
  border-right: 3px solid rgb(8, 49, 217);
  border-bottom: 3px solid rgb(8, 49, 217);
}